@import "../../node_modules/normalize.css/normalize";

/****
*
*   main style
*
*****/

$mainFont: 'Gilroy';
$mainColor: #070707;
$secondColor: #828282;

@font-face {
    font-family: "Gilroy"; /* Имя шрифта */
    src: url(../font/Gilroy-Bold.ttf); /* Путь к файлу со шрифтом */
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy"; /* Имя шрифта */
    src: url(../font/Gilroy-Medium.ttf); /* Путь к файлу со шрифтом */
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: $mainFont;
    font-size: 18px;
}

.container {
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
}


/****
*
*   header sytle
*
*****/

.header {
    padding-bottom: 105px;
}

.menu {
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $secondColor;

    &-item {
        list-style: none;
    }

    &-link {
        text-decoration: none;
        color: $secondColor;
        font-weight: bold;
        &:hover, :active {
            color: $mainColor;
        }

    }

}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 30px 0;
}

.logo {
    font-family: $mainFont;
    font-weight: bold;
    font-size: 47px;
    line-height: 57px;
    color: $mainColor;
}

.top-text {
    font-family: $mainFont;
    font-weight: medium;
    font-size: 18px;
    line-height: 21px;
    color: $mainColor;
}

.lang {
    font-family: $mainFont;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: $mainColor;
    transform: rotate(-90deg);
}


/****
*
*   about-me sytle
*
*****/

.about-me {
    padding: 120px 0 107px 0;
    background: #F6F6F6;
    &__title {
        margin-bottom: 18px;
    }
}

.title {
    font-family: $mainFont;
    font-weight: bold;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    color: $mainColor;
}

.text-block {
    max-width: 485px;
    font-family: $mainFont;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: $mainColor;
    margin: 0px auto 25px auto;
}


/****
*
*   skills
*
*****/

.skills {
    padding: 91px 0 110px 0;
    &__title {
        margin-bottom: 69px;
    }
}

.sub-title {
    font-family: $mainFont;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: $mainColor;
    margin-bottom: 83px;
}

.skills-box {
    display: flex;
    justify-content: space-between;
}

.skills-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills-title {
    margin: 24px 0 42px 0;
    font-family: $mainFont;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: $secondColor;
}

.star {
    margin-right: 9px;
    fill: #E5E5E5;
    &:nth-child(5) {
        margin-right: 0;
    }
}

.black {
    fill: $mainColor
}
