@import "../../node_modules/normalize.css/normalize";

/****
*
*   main style
*
*****/

$mainFont: 'Gilroy';
$mainColor: #070707;
$secondColor: #828282;

@font-face {
    font-family: "Gilroy"; /* Имя шрифта */
    src: url(../font/Gilroy-Bold.ttf); /* Путь к файлу со шрифтом */
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy"; /* Имя шрифта */
    src: url(../font/Gilroy-Medium.ttf); /* Путь к файлу со шрифтом */
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: $mainFont;
    font-size: 18px;
}

.container {
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}


/****
*
*   slick slider
*
*****/

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex; 
}


/****
*
*   header sytle
*
*****/

.header {
    padding-bottom: 105px;
}

.menu {
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $secondColor;

    &-item {
        list-style: none;
    }

    &-link {
        text-decoration: none;
        color: $secondColor;
        font-weight: bold;
        &:hover, :active {
            color: $mainColor;
        }

    }

}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 30px 0;
}

.logo {
    font-family: $mainFont;
    font-weight: bold;
    font-size: 47px;
    line-height: 57px;
    color: $mainColor;
}

.top-text {
    font-family: $mainFont;
    font-weight: medium;
    font-size: 18px;
    line-height: 21px;
    color: $mainColor;
}

.lang {
    font-family: $mainFont;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: $mainColor;
    transform: rotate(-90deg);
}


/****
*
*   about-me sytle
*
*****/

.about-me {
    padding: 120px 0 107px 0;
    background: #F6F6F6;
    &__title {
        margin-bottom: 18px;
    }
}

.title {
    font-family: $mainFont;
    font-weight: bold;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    color: $mainColor;
}

.text-block {
    max-width: 485px;
    font-family: $mainFont;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: $mainColor;
    margin: 0px auto 25px auto;
}


/****
*
*   skills
*
*****/

.skills {
    padding: 91px 0 110px 0;
    &__title {
        margin-bottom: 69px;
    }
}

.sub-title {
    font-family: $mainFont;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: $mainColor;
    margin-bottom: 83px;
}

.skills-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skills-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills-title {
    margin: 24px 0 42px 0;
    font-family: $mainFont;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: $secondColor;
}

.star {
    margin-right: 9px;
    fill: #E5E5E5;
    &:nth-child(5) {
        margin-right: 0;
    }
}

.black {
    fill: $mainColor
}

/****
*
*   portfolio
*
*****/

.portfolio {
    padding: 112px 0 96px 0;
    background-color: #F6F6F6;
    &__title{
        margin-bottom: 47px;
    }
}

.portfolio-block {
    margin-bottom: 100px;
}

.portfolio-block:last-child {
    margin-bottom: 0;
}

.portfolio-link {
    font-family: $mainFont;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: $mainColor;
    display: block;
    margin: 44px auto 0 auto;
}

/****
*
*   portfolio
*
*****/

.contacts {
    padding: 114px 0 123px 0;
    &__title {
        margin-bottom: 20px;
    }
    &__sub-title {
        margin-bottom: 30px;
    }
}

.button {
    display: block;
    margin: 0 auto 85px auto;
    background-color: $mainColor;
    padding: 12px 30px;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    border: 0;
    border-radius: 40px;
    outline: none;
    cursor: pointer;
}

.footer-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    color: $secondColor;
}

.in, .instagram, .be, .dribble {
    color: black;
    text-decoration: none;
    margin-right: 60px;
}

.dribble {
    margin-right: 0;
}

.social {
    max-width: 360px;
    margin: 0 auto 45px auto;
}


@media ( max-width: 775px) {
    .skills-block { 
        margin-bottom: 50px;
    }
}

@media ( min-width: 980px) {
    .slider__item {
        height: 368px;
        background: #E5E5E5;
    }
}




